@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  font-family: "Sora", sans-serif;
  box-sizing: border-box;
}
.ant-btn.ant-btn-primary {
  background-color: #1c7b7b;
  color: white;
}

.ant-btn.ant-btn-primary:hover,
.ant-btn.ant-btn-primary:focus {
  background-color: #155e5e;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #77b0b0;
}

::-webkit-scrollbar-thumb {
  background: #1c7b7b;
}

::-webkit-scrollbar-track:hover {
  background: #1c7b7b;
}

.sticky-nav {
  animation: sticky-nav 300ms;
}

@keyframes sticky-nav {
  0% {
    transform: translateY(-6em);
  }

  100% {
    transform: translateY(0);
  }
}

@layer base {
  :root {
    --background: 180 100% 95%;
    --foreground: 180 5% 0%;
    --card: 180 50% 90%;
    --card-foreground: 180 5% 10%;
    --popover: 180 100% 95%;
    --popover-foreground: 180 100% 0%;
    --primary: 180 62.9% 29.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 180 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 142 30% 85%;
    --muted-foreground: 180 5% 35%;
    --accent: 142 30% 80%;
    --accent-foreground: 180 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 180 5% 90%;
    --border: 180 30% 50%;
    --input: 180 30% 18%;
    --ring: 180 62.9% 29.6%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 180 50% 5%;
    --foreground: 180 5% 90%;
    --card: 180 50% 0%;
    --card-foreground: 180 5% 90%;
    --popover: 180 50% 5%;
    --popover-foreground: 180 5% 90%;
    --primary: 180 62.9% 29.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 180 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 142 30% 15%;
    --muted-foreground: 180 5% 60%;
    --accent: 142 30% 15%;
    --accent-foreground: 180 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 180 5% 90%;
    --border: 180 30% 18%;
    --input: 180 30% 18%;
    --ring: 180 62.9% 29.6%;
    --radius: 0.5rem;
  }
}
